{% load static %}
{% csrf_token %}
<script>
var board = null
var game = new Chess("{{fen}}")  
function updateMove() {
  console.log(game.fen())
  $.ajax({
      type : 'POST',
      data : {
          'fen' : game.fen(),
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
  });
}
function onDragStart (source, piece, position, orientation) {
  // do not pick up pieces if the game is over
  if (game.game_over()) return false

  // only pick up pieces for the side to move
  if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
      (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
    return false
  }
}

function onDrop (source, target) {
  // see if the move is legal
  var move = game.move({
    from: source,
    to: target,
    promotion: 'q' // NOTE: always promote to a queen for example simplicity
  })

  // illegal move
  if (move === null) return 'snapback'

  updateStatus()
}

// update the board position after the piece snap
// for castling, en passant, pawn promotion
function onSnapEnd () {
  board.position(game.fen())
  updateMove(   )
}

function updateStatus () {
  var status = ''
  var moveColor = 'White'
  if (game.turn() === 'b') {
    moveColor = 'Black'
  }
}
function pieceTheme (piece) {
    return "{% static 'chessapp/images/wikipedia/' %}" + piece + '.png'
}
var config = {
  draggable: true,
  position: "{{fen}}",
  onDragStart: onDragStart,
  onDrop: onDrop,
  onSnapEnd: onSnapEnd,
  pieceTheme: pieceTheme
}
board = Chessboard('myBoard', config)
</script>