{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'chessapp/style.css' %}">
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <header>
      <div class=topnav> </div>
    </header>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>

    <div>
        <label for="pass">Password (8 characters minimum):</label>
        <input type="password" id="pass" name="password"
               minlength="8" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"
               minlength="8" required>
    </div>
    <input type="submit" value="Register">
  </form>
</body>